<a href="https://colab.research.google.com/github/jacobpad/Computer-Science-Lambda-School/blob/master/folder/randomWhatever.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### New Cohorts:

In [ ]:
import pandas as pd

In [ ]:
url = 'https://gist.githubusercontent.com/morriswong/35f90d593e901bf131a72631a6127e53/raw/322fe8f689fcb57b592698e26b9050014cda8da8/Google%20Colab%20Keyboards%20shortcuts.csv'

df = pd.read_csv(url)
df

                   Actions          Colab        Jupyter
0  show keyboard shortcuts   Ctrl/Cmd M H             H
1   Insert code cell above   Ctrl/Cmd M A              A
2   Insert code cell below   Ctrl/Cmd M B              B
3    Delete cell/selection   Ctrl/Cmd M D             DD
4      Interrupt execution   Ctrl/Cmd M I             II
5     Convert to code cell   Ctrl/Cmd M Y              Y
6     Convert to text cell   Ctrl/Cmd M M              M
7          Split at cursor   Ctrl/Cmd M -   Ctrl Shift -

### Random

In [ ]:
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00502/online_retail_II.xlsx'
df = pd.read_excel(url)
df

       Invoice StockCode  ... Customer ID         Country
0       489434     85048  ...     13085.0  United Kingdom
1       489434    79323P  ...     13085.0  United Kingdom
2       489434    79323W  ...     13085.0  United Kingdom
3       489434     22041  ...     13085.0  United Kingdom
4       489434     21232  ...     13085.0  United Kingdom
...        ...       ...  ...         ...             ...
525456  538171     22271  ...     17530.0  United Kingdom
525457  538171     22750  ...     17530.0  United Kingdom
525458  538171     22751  ...     17530.0  United Kingdom
525459  538171     20970  ...     17530.0  United Kingdom
525460  538171     21931  ...     17530.0  United Kingdom

[525461 rows x 8 columns]

In [ ]:
import pandas as pd

df = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00193/CTG.xls')
# df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data')
df.head(2)

  Unnamed: 0  Unnamed: 1  ... Unnamed: 12 Unnamed: 13
0        NaN         NaN  ...         NaN         NaN
1        NaN         NaN  ...         NaN         NaN

[2 rows x 14 columns]

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

#Import data
df = pd.read_csv('https://query.data.world/s/h63v5sypgtnhkpevtqbdf3v472ppic')

# #Print the head of the data 
print(df.head(),'\n\n')

# #Create "pop" and "shape" variables to 
# #find the mean population and shape of dataset
pop = np.mean(df)
shape = df.shape
print('Table to define mean, median, and mode: \n',df.describe(),'\n\n')
print('Mean of whole chart: \n',pop,'\n\n')
print('Data Frame Shape: \n',shape,'\n\n')

   id        date  ...  longitude                                 geolocation
0   1  01/02/2007  ...  -3.587500   (54.549399999999999, -3.5874999999999999)
1   2  01/03/2007  ... -75.426700  (-10.383800000000001, -75.426699999999997)
2   3  01/05/2007  ... -42.536362  (-22.282346350000001, -42.536362050000001)
3   4  01/05/2007  ... -42.673400  (-22.045200000000001, -42.673400000000001)
4   5  01/05/2007  ... -46.613600  (-23.231100000000001, -46.613599999999998)

[5 rows x 34 columns]


Table to define mean, median, and mode:
                 id   fatalities  ...     latitude    longitude
count  9564.000000  8212.000000  ...  9564.000000  9564.000000
mean   4824.008260     3.537141  ...    25.661806     3.815776
std    2799.040122    64.669763  ...    20.416185   100.238678
min       1.000000     0.000000  ...   -46.774800  -170.799800
25%    2401.750000     0.000000  ...    13.579075  -104.920000
50%    4805.500000     0.000000  ...    29.855400    23.184050
75%    7253.250000     1.000000  ...    41.134575    94.359700
max    9685.000000  5000.000000  ...    72.627500   179.422100

[8 rows x 10 columns]


Mean of whole chart:
 id              4.824008e+03
fatalities      3.537141e+00
injuries        8.523592e-01
cat_id          4.806020e+03
distance        1.190252e+01
population      1.568749e+05
version         1.121193e+00
changeset_id    8.807481e+08
latitude        2.566181e+01
longitude       3.815776e+00
dtype: float64


Data Frame Shape:
 (9564, 34)

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

#Import data
df = pd.read_csv("https://query.data.world/s/h63v5sypgtnhkpevtqbdf3v472ppic")

#Print the head of the data 
print(df.head())

#Create "pop" and "shape" variables to 
#find the mean population and shape of dataset
pop = df["population"].mean()
shape = df.shape

   id        date  ...  longitude                                 geolocation
0   1  01/02/2007  ...  -3.587500   (54.549399999999999, -3.5874999999999999)
1   2  01/03/2007  ... -75.426700  (-10.383800000000001, -75.426699999999997)
2   3  01/05/2007  ... -42.536362  (-22.282346350000001, -42.536362050000001)
3   4  01/05/2007  ... -42.673400  (-22.045200000000001, -42.673400000000001)
4   5  01/05/2007  ... -46.613600  (-23.231100000000001, -46.613599999999998)

[5 rows x 34 columns]

In [ ]:
s = 'DSPT7_Unit_1_Sprint_1_Data_Wrangling_and_Storytelling'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
sns.load_dataset('planets')

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
# Generate new one on one schedule!
import numpy as np

# Define list of students 
team = ['Andy',
        'Cody',
        'Dustin',
        'Joanne',
        'Sara',
        'Terrence',
        'Meghan',
        'Paul']

# and available time slots
times = ['6:15',
         '6:30',
         '6:45',
         '7:00',
         '7:15',
         '7:30',
         '7:45',
         '8:00']

# Make empty dictionary to put names & times
meeting_times = dict()

# For all seven students
for _ in range(7):
  # Pick a random student and time
    student = np.random.choice(team)
    time = np.random.choice(times)
	
	# Create dictionary entry for student / time combination
    meeting_times[student] = time
	
	# Remove that student and time from pool (avoid duplicates)
    team.remove(student)
    times.remove(time)
    
# Create new dictionary sorted by time
meeting_times = sorted(meeting_times.items(), key = lambda x: x[1])

# Show adjenda
meeting_times

In [ ]:
# generate random integer values
from random import randint

value = randint(0, 10)
print(value)

8

In [ ]:
import re
x = '$the rea! m@e i$ @who I ! am!, bo$$'
x = re.sub('@*!*\$*', '',x)
x

'the rea me i who I  am, bo'

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

# %cd instacart_2017_05_01

# !ls -lh *.csv

In [ ]:
for i in range(len(rep)):
  print(ttest_ind(elephant[i], donkey[i], nan_policy='for_loops_are_fun'))
  print('I wanted to be an astronaut when I was 2.')
  print('\t\nNew Line\n')

In [ ]:
import pandas as pd


url = 'https://raw.githubusercontent.com/jacobpad/Labs-Stuff/master/elonmusk_followers.json'
df = pd.read_json(url, orient='index')
df

                                                                               0
2009-12-02 20:21:58.720581632  #POCOF2Pro debuts in just 24 hours, RT now and...
2009-11-29 10:35:18.161358848           @jairbolsonaro Imagina o desgosto dela 😭
2009-11-26 13:35:43.772033030  É inacreditável que um presidente da República...
2009-11-25 21:55:37.505153024  @CarlaZambelli38 Mente, desmente, e mente de n...
2009-11-22 21:56:13.574885376  Pq Bolsonaro não apresenta o exame do coronaví...
...                                                                          ...
2009-11-13 10:53:42.147219457           Знайте, суки!... https://t.co/hn8T7vvZEw
2009-11-11 18:18:48.847269891  @Kasinbatya @krivorozhanin__ хуйня порохоскотс...
2009-11-11 12:24:25.416298497           @krivorozhanin__ https://t.co/6KiTXfYbeq
2009-11-11 12:21:53.611726849           @krivorozhanin__ https://t.co/Z5yRf8A5Il
2009-11-12 12:26:34.784481280  Новина про призначення Юрія Бойко з ОПЗЖ заc.м...

[20499 rows x 1 columns]

![AB_Testing](https://raw.githubusercontent.com/jmmiddour/Images/master/image%20(1).png)

In [ ]:
import pandas as pd


cols = ['fixed acidity','volatile acidity','citric acid','residual sugar',
         'chlorides','free sulfur dioxide','total sulfur dioxide','density',
         'pH','sulphates','alcohol','quality']

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
df = pd.read_csv(url, sep=';', header=None, names=cols, skiprows=1)
df.head()

# Add "_"'s to the column names where spaces are:
def replace_spaces_with_underscore_in_column_names(df):
  """
  Accepts a dataframe.
  Alters column names replacing spaces with underscores.
  """
  labels = list(df.columns)
  for i in range(len(df.columns)):
    labels[i] = labels[i].replace(' ', '_')
  df.columns = labels

  return df

df = replace_spaces_with_underscore_in_column_names(df)

# Drop the first row - it's column names - or just use `skiprows` while reading
# df = df.drop([0]).reset_index()

df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [ ]:
median_alcohol = df['alcohol'].median()
for i, alcohol in enumerate(df.alcohol):
    if alcohol >= median_alcohol:
        df.loc[i, 'alcohol'] = 'high'
    else:
        df.loc[i, 'alcohol'] = 'low'
df.groupby('alcohol').quality.mean()

alcohol
high    6.208636
low     5.539256
Name: quality, dtype: float64

In [ ]:
median_pH = df.pH.median()
for i, pH in enumerate(df.pH):
    if pH >= median_pH:
        df.loc[i, 'pH'] = 'high'
    else:
        df.loc[i, 'pH'] = 'low'
df.groupby('pH').quality.mean()

pH
high    5.960016
low     5.793972
Name: quality, dtype: float64

In [ ]:
median_sugar = df.residual_sugar.median()
for i, sugar in enumerate(df.residual_sugar):
    if sugar >= median_sugar:
        df.loc[i, 'residual_sugar'] = 'high'
    else:
        df.loc[i, 'residual_sugar'] = 'low'
df.groupby('residual_sugar').quality.mean()

residual_sugar
high    5.783971
low     5.972541
Name: quality, dtype: float64

In [ ]:
median_citric_acid = df.citric_acid.median()
for i, citric_acid in enumerate(df.citric_acid):
    if citric_acid >= median_citric_acid:
        df.loc[i, 'citric_acid'] = 'high'
    else:
        df.loc[i, 'citric_acid'] = 'low'
df.groupby('citric_acid').quality.mean()

citric_acid
high    5.875203
low     5.880658
Name: quality, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('Runtime Track Sheet.csv')
df

     Date   Run Time (Seconds)
0  5/18/20              5000.0
1  5/21/20              1974.0
2  5/26/20               923.0

In [ ]:
plt.plot(df[df['Date'], df['Run Time (Seconds)']);

In [ ]:
n=5
for i in range(n):
  print(i**2)

0
1
4
9
16

In [ ]:
print(*[num**2 for num in range(n)], sep='\n')

0
1
4
9
16

In [ ]:
print([num**2 for num in range(n)], sep='\n')

[0, 1, 4, 9, 16]

### Leap Year

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

- The year can be evenly divided by 4, is a leap year, unless:
- The year can be evenly divided by 100, it is NOT a leap year, unless:
- The year is also evenly divisible by 400. Then it is a leap year.
  - This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

In [ ]:
def is_leap_year(year):
  '''To find leap years'''
  if (year % 400 is 0): # evenly divided by 400, is a leap year
    return True
  if (year % 100 is 0): # evenly divided by 100, it is NOT a leap year unless
    return False
  if (year % 4 is 0): # evenly divisible by 4. Then it is a leap year
    return True
  else:
    return False

print(is_leap_year(2000))

True

### Without using any string methods, try to print the following:

In [ ]:
# Print the list of integers from  through  as a string, without spaces.
import random
n = random.randint(1, 150)
print(f'{n}\n\n')

lst = []

for i in range(n):
  i=i+1
  lst.append(i)
print(*lst, sep='')

30


123456789101112131415161718192021222324252627282930

In [1]:
# Print out all of the numbers in the following array that are divisible by 3:
# [85, 46, 27, 81, 94, 9, 27, 38, 43, 99, 37, 63, 31, 42, 14]
# The expected output for the above input is:
# 27
# 81
# 9
# 27
# 99
# 63
# 42
# You may use whatever programming language you wish.
# Verbalize your thought process as much as possible before writing any code. 
# Run through the UPER problem solving framework while going through your thought process.


my_list = [85, 46, 27, 81, 94, 9, 27, 38, 43, 99, 37, 63, 31, 42, 14]

In [10]:
for i in range(len(my_list)):
  if my_list[i] % 3 == 0:
    print(my_list[i])

27
81
9
27
99
63
42

In [ ]:
# Print out all of the strings in the following array that represent a number divisible by 3:
# [
#   "five",
#   "twenty six",
#   "nine hundred ninety nine",
#   "twelve",
#   "eighteen",
#   "one hundred one",
#   "fifty two",
#   "forty one",
#   "seventy seven",
#   "six",
#   "twelve",
#   "four",
#   "sixteen"
# ]
# The expected output for the above input is:
# nine hundred ninety nine
# twelve
# eighteen
# six
# twelve